{% extends "skeleton.html" %}
{% block content %}

    <div class="container">
        <div class="titleView">
                <h1>{{titleView}}</h1>
        </div>
    <div>
        <table class="table table-detail">
            <thead>
                <tr>
                    <th>Titulo</th>
                    <th>ISBN</th>
                    <th>Autor</th>
                    <th>Numero Ejemplares</th>
                    <th>Tipo</th>
                </tr>
            </thead>
            <tbody>
                 <tr>
                    <td> {{ book.title }}</td>
                    <td> {{ book.isbn }}</td>
                    <td> {{ book.author }}</td>
                    <td> {{ book.avaliable }}</td>
                    <td> {{ book.type }}</td>
                </tr>
            </tbody>
        </table>
        <a href="/seeBooks">Volver</a>
    </div>
{%  endblock %}